//import Bootstrap

$primary: #f19124;
$light: #ffffff;
$btn-box-shadow: inset 7px -2px 26px -15px rgba(0, 0, 0, 0.21);
$enable-shadows: true;
$nav-tabs-border-width: 2px;

.active > .btn {
	box-shadow: none;
}

.container.bg-warning {
	padding-right: 10%;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';

.size-adjusted-side-margin {
	@media (min-width: 600px) {
		margin-left: 5%;
		margin-right: 5%;
	}

	@include media-breakpoint-up(lg) {
		margin-left: 10%;
		margin-right: 10%;
	}

	@include media-breakpoint-up(xl) {
		margin-left: 15%;
		margin-right: 15%;
	}
}

html {
	scroll-behavior: auto;
}

body {
	padding-top: 70px;
}

.nav-container {
	display: flex;
	justify-content: center;
}
.nav-tabs {
	flex-wrap: nowrap;
}

.nav-link {
	font-weight: bold;
	text-decoration: none;

	@include media-breakpoint-up(sm) {
		font-size: 1.3rem;
	}
	@include media-breakpoint-up(md) {
		font-size: 1.4rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 1.5rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: 1.6rem;
	}
}

.btn-shadow {
	// width: 35%;
	// height: 30%;
	// margin: 7%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition-duration: 0.4s;
	// padding: 10px;
	// align-items: center;

	@include media-breakpoint-up(md) {
		width: 15%;
		height: 15%;
		margin: 3%;
	}
}

.maxw-80 {
	max-width: 80px;
}

// .jump-point-offset {
// 	scroll-margin-top: 20em;
// }

.lg-marg {
	margin-top: 10%;
	margin-bottom: 10%;

	@include media-breakpoint-up(sm) {
		margin-top: 5%;
		margin-bottom: 5%;
	}
}

.adj-header-text {
	font-weight: 450;
	font-size: 1.3rem;

	@include media-breakpoint-up(sm) {
		font-size: 1.5rem;
	}
	@include media-breakpoint-up(md) {
		font-size: 1.7rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 1.9rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: 2.2rem;
	}
}

.adj-header-text2 {
	font-weight: 400;
	font-size: 1.1rem;

	@include media-breakpoint-up(sm) {
		font-size: 1.3rem;
	}
	@include media-breakpoint-up(md) {
		font-size: 1.5rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 1.7rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: 2.2rem;
	}
}

.adj-button-text {
	font-size: 0.8rem;
	@include media-breakpoint-up(sm) {
		font-size: 0.9rem;
	}
	@include media-breakpoint-up(md) {
		font-size: 1rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 1.1rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: 1.2rem;
	}
}

p {
	@include media-breakpoint-up(md) {
		font-size: 1.3rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 1.4rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: 1.5rem;
	}
	@media (min-width: 1400px) {
		font-size: 1.6rem;
	}
	@media (min-width: 1500px) {
		font-size: 1.7rem;
	}
	@media (min-width: 1600px) {
		font-size: 1.8rem;
	}
	@media (min-width: 1700px) {
		font-size: 1.9rem;
	}
	@media (min-width: 1800px) {
		font-size: 2rem;
	}
}

li {
	@include media-breakpoint-up(md) {
		font-size: 1.3rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 1.4rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: 1.5rem;
	}
	@media (min-width: 1400px) {
		font-size: 1.6rem;
	}
	@media (min-width: 1500px) {
		font-size: 1.7rem;
	}
	@media (min-width: 1600px) {
		font-size: 1.8rem;
	}
	@media (min-width: 1700px) {
		font-size: 1.9rem;
	}
	@media (min-width: 1800px) {
		font-size: 2rem;
	}
}

b {
	@include media-breakpoint-up(md) {
		font-size: 1.3rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 1.4rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: 1.5rem;
	}
	@media (min-width: 1400px) {
		font-size: 1.6rem;
	}
	@media (min-width: 1500px) {
		font-size: 1.7rem;
	}
	@media (min-width: 1600px) {
		font-size: 1.8rem;
	}
	@media (min-width: 1700px) {
		font-size: 1.9rem;
	}
	@media (min-width: 1800px) {
		font-size: 2rem;
	}
}

.cover-image-container {
	@include media-breakpoint-up(md) {
		width: 100%;
		height: 30%;
	}
}

.cover-image {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	@include media-breakpoint-up(md) {
		object-fit: cover;
		width: 100%;
		height: 250px;
	}
}

// .cover-logo-container {
// 	@include media-breakpoint-up(md) {
// 		width: 50%;
// 		height: 100%;
// 		display: flex;
// 		justify-content: center;
// 	}
// }

.cover-logo {
	@include media-breakpoint-up(md) {
		object-fit: scale-down;
		width: 100%;
		height: 250px;
	}
}

.para-image {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	margin: 3%;
	margin-left: 5%;
	align-self: center;
}

.para-image2 {
	border-radius: 11%;
	padding-left: none;
	padding-right: none;
	align-self: center;

	@include media-breakpoint-up(md) {
		object-fit: cover;
		width: 60%;
		height: 60%;
		margin-left: 3%;
		margin-top: 3%;
		margin-bottom: 3%;
	}
}

@media (max-aspect-ratio: 1/1) {
	.portrait-column {
		flex-direction: column;
	}
}

@media (min-aspect-ratio: 1/1) {
	.landscape-modify {
		flex-direction: row;
	}

	.para-image {
		object-fit: cover;
		width: 50%;
		height: 50%;
	}
}

hr {
	border: solid 0.5px black;
	width: 50%;
	margin: auto;
}

.SVG {
	width: 20%;
	height: 20%;
	fill: currentColor;
	@include media-breakpoint-up(md) {
		width: 10%;
		height: 10%;
	}
}

.ex-link {
	text-decoration: underline;
	color: black;
}
